.sign-wrapper {
  margin-top: 2rem;
  padding: 3rem;
  background-color: #bababa;
}

.sign-form {
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: column;
  background-color: #bababa;
}

.sign-input, .sign-button {
  margin: 0.7rem 0;
  padding: 0.5rem;
  outline: none;
  border: none;
  height: 1.5rem;
  font-size: medium;
  transition: 0.25s background-color ease-in-out;
}

.sign-input:hover, .sign-button:hover {
  background-color: #9a8ea1;
}

.sign-button {
  padding: unset;
  height: 3rem;
  transition: all 0.25s ease-in-out;
}

.sign-button:hover {
  cursor: pointer;
}




