<div class="sign-wrapper">
  <h3 class="sign-header">LOG IN AND FOLLOW YOUR FAVORITE TEAMS!</h3>
  <form class="sign-form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <button class="sign-button" (click)="redirectGoogle()">Login with Google</button>
    <input class="sign-input" type="text" placeholder="Email" formControlName="email"/>
    <input class="sign-input" type="password" placeholder="Password" formControlName="password"/>
    <button class="sign-button" type="submit">LOG IN</button>
  </form>
  <p class="sign-text">Don’t have an account ? <a routerLink="/signUp"> Register </a></p>
</div>
