
  <div class="card-container">
    <a class="card" routerLink="/players" routerLinkActive="active">
      <img class="material-icons" src="././assets/icons/players.svg" width="36" height="36" alt="players"/>
      <span>Players</span>
    </a>

    <a class="card" routerLink="/teams" routerLinkActive="active">
      <img class="material-icons" src="././assets/icons/teams.svg" width="24" height="24" alt="teams"/>
      <span>Teams</span>
    </a>

    <a class="card" routerLink="/matches" routerLinkActive="active">
      <img class="material-icons" src="././assets/icons/matches.svg" width="24" height="24" alt="matches"/>
      <span>Matches</span>
    </a>

    <a class="card" routerLink="/stats" routerLinkActive="active">
      <img class="material-icons" src="././assets/icons/statistic-table.svg" width="24" height="24" alt="stats"/>
      <span>Club Stats</span>
    </a>
  </div>
