<div class="spinner" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<section *ngIf="appService.matches && !isLoading">
  <h2>MATCHES</h2>
  <div *ngFor="let match of appService.matches" class="inner">
    <a class="link" routerLink="/matches/{{match.id}}">
      <figure>
        <img class="logo" src="{{match.home_team.logo}}"/>
        <figcaption>{{match.home_team.name}}</figcaption>
      </figure>
      <strong>{{match.stats?.goals_home_team}}</strong>
      <div class="date">
        <p>{{matchService.parseDate(match.date)}}</p>
        <p>{{match.stadium}}</p>
      </div>
      <strong>{{match.stats?.goals_away_team}}</strong>
      <figure>
        <img class="logo" src="{{match.away_team.logo}}"/>
        <figcaption>{{match.away_team.name}}</figcaption>
      </figure>
    </a>
  </div>
  <mat-paginator *ngIf="appService.matchesLinks"
                 [length]="appService.matchesMeta.total"
                 [pageSize]="appService.matchesMeta.per_page"
                 [pageIndex]="page"
                 (page)="onPage($event)"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 style="margin-bottom: 10rem;">
  </mat-paginator>
</section>
