.sign-wrapper {
  margin-top: 2rem;
  padding: 3rem;
  background-color: #798188;
}

.sign-header {
  font-weight: 500;
  color: #fafafa;
  font-size: calc(10px + 2vmin);
}

.sign-form {
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: column;
  background-color: #798188;
}

.sign-input, .sign-button {
  margin: 0.4rem 0;
  padding: 1rem;
  outline: none;
  border: 2px solid #fafafa;
  height: 1.5rem;
  font-size: calc(4px + 2vmin);
  background-color: transparent;
  color: #fafafa;
}

.sign-input::placeholder {
  color: #fafafa;
}

.sign-button:hover, .sign-button:focus {
  background-color: #081b29;
}

.sign-button {
  padding: unset;
  height: 4rem;
  transition: all 0.25s ease-in-out;
}

.sign-button:hover {
  cursor: pointer;
}

.sign-text {
  color: #fafafa;
  margin: 1rem 0 0;
  font-size: 22px;
}

.sign-text a {
  color: #081b29;
  text-decoration: unset;
}

@media screen and (max-width: 767px) {
  .sign-input, .sign-button {
    padding: 0.5rem;
    height: 2rem;
    font-size: unset;
  }

  .sign-button {
    height: 3rem;
  }

  .sign-wrapper {
    margin-top: 2rem;
    padding: 1.5rem;
  }
}




