<div class="wrapper-bg">
  <div class="wrapper">
    <div class="header" role="banner">
      <a><h1 class="logo" routerLink="" routerLinkActive="active">PREMIER LEAGUE APP</h1></a>
      <div class="header-link">
        <div *ngIf="!appService.user; else elseBlock">
          <a class="header-link-sign" style="margin-right: 1.5rem;" routerLink="/logIn" routerLinkActive="active">Log IN</a>
          <a class="header-link-sign" routerLink="/signUp" routerLinkActive="active">Sign UP</a>
        </div>
        <ng-template #elseBlock>
          <a class="header-link-sign">{{appService.user?.name}}</a>
          <a class="header-link-sign" (click)="logOut()">Log OUT</a>
        </ng-template>
      </div>
    </div>
    <div class="content" role="main">
      <app-tool-bar></app-tool-bar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

