.team-detail-header {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fafafa;
  max-width: 40rem;
  border-radius: 15px;
  border: 1px solid lightgray;
}

.team-detail-logo {
  width: 10rem;
  height: 12rem;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  0% {
    transform: perspective(200px) rotateY(0);
  }

  25% {
    transform: perspective(200px) rotateY(20deg);
  }

  75% {
    transform: perspective(200px) rotateY(-20deg);
  }

  100% {
    transform: perspective(200px) rotateY(0);
  }
}

.team-detail-team {
  color: black;
  margin: 1.5rem auto;
  font-size: calc(16px + 2vmin);
}

.team-detail-mn {
  color: black;
  font-size: calc(14px + 2vmin);
}

.team-detail-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.team-detail-item {
  background-color: #fafafa;
  border: 1px solid lightgray;
  width: 15rem;
  height: 5rem;
  padding: 1rem;
}

.team-detail-name, .team-detail-position  {
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.5rem;
}

.team-detail-position {
  font-weight: unset;
}

/*mobile*/

@media (max-width: 768px) {
  .team-detail-header {
    padding: 1rem;
    border-radius: unset;
  }

  .team-detail-logo {
    width: 10rem;
    height: 10rem;
  }

  .team-detail-team {
    margin: 1rem auto;
  }

  .team-detail-item {
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    font-size: calc(14px + 2vmin);
  }
}
