.spinner {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

h2 {
  margin: 2rem auto;
  font-size: calc(12px + 2vmin);
  color: white;
}

.player-table {
  width: 60rem;
}

.inner-svg {
  display: flex;
  justify-content: flex-end;
}

.svg-pencil, .svg-trash, .svg-checked {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.2rem;
}

button:hover {
  background-color: #9a8ea1;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-update {
  display:flex;
  position: absolute;
  top: 0.5rem;
  right: 13rem;
  z-index: 2;
}

input {
  width: 9rem;
  outline: none;
}

@media (max-width: 990px) {
  .player-table {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .spinner {
    margin-top: 0.5rem;
  }

  h2 {
    margin: 1rem auto;
  }

  .form-update {
    flex-direction: column;
    top: 0.5rem;
    right: 13rem;
    gap: 0.2rem;
    background-color: #142d3a;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .svg-checked {
    background-color: #9a8ea1;
    width: 2rem;
    height: 1.5rem;
  }
}
