<div *ngIf="isLoading" style="margin-top: 3rem; display: flex; justify-content: center">
  <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>
<section *ngIf="appService.players && !isLoading">
  <app-create-new-player></app-create-new-player>
<h2>PLAYERS</h2>
<div class="mat-elevation-z8">
  <table class="player-table" mat-table [dataSource]="appService.players ">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Team </th>
      <td mat-cell *matCellDef="let element"> {{element.team?.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator *ngIf="appService.playersLinks"
                 [length]="appService.playersMeta?.total"
                 [pageSize]="appService.playersMeta.per_page"
                 [pageIndex]="page"
                 (page)="onPage($event)"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 style="margin-bottom: 10rem;">
  </mat-paginator>
</div>
</section>
